.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resume-gradient {
  background: linear-gradient(to right, #85BDa6, #c0d7bb)
}

.project-img {
  max-width: 60%;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.mw-75 {
  max-width: 75%;
}

body {
  background-color: #283E50;
}

.main-text {
  color: #BEDCFE;
}

.secondary-text {
  color: #4A051C;
}

.main-bg {
  background-color: #283E50;
}

.bground-gradient {
  background: linear-gradient(to right, #85BDa6, #c0d7bb)
}

.button-color {
  background-color: #85BDa6;
}

.git-color {
  color: #85BDa6
}

.git-color:hover {
  color: #569F81
}

.btn:hover{
  background-color: #569F81;
  color: #4A051C;
  font-weight: 600;
}

.nav-link:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid #283E50;
  color: #4A051c;
  font-weight: 600;
  cursor: pointer;
}

.nav-brand:hover {
  cursor: pointer;
}

.active {
  padding-bottom: 8px;
  border-bottom: 3px solid #283E50;
  color: #4A051c;
  font-weight: 600
}
